<div class="face-snap-card" [ngClass]="{snapped: buttonText === 'Oops, unSnap!'}">
    <!-- Utilisation du string interpolation pour l'affichage des données -->

    <h2>{{ faceSnap.title | titlecase }}</h2>
    <p>Mise en ligne le : <b>{{ faceSnap.createdDate }}</b></p>
    <!-- Utilisation de l'attribute binding ou liaison par attribut pour l'affichage de l'image : -->
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à <b>{{ faceSnap.location }} </b></p>
    <p>
        <!-- Utilisation de l'event binding () -->
        <button (click)="onSnap()">{{ buttonText }}</button>
        <span [ngStyle]="{ color : 'rgb(0, '+ faceSnap.snaps + ', 0)'}">
            💛 {{ faceSnap.snaps }}
        </span>
    </p>
</div>