<div class="face-snap-card">
    <!-- Utilisation du string interpolation pour l'affichage des données -->

    <h2>{{ title }}</h2>
    <p>Mise en ligne le : <b>{{ createdDate }}</b></p>
    <!-- Utilisation de l'attribute binding ou liaison par attribut pour l'affichage de l'image : -->
    <img [src]="imageUrl" [alt]="title">
    <p>{{ description }}</p>
    <p>
        <!-- Utilisation de l'event binding () -->
        <button (click)="onSnap()">{{ buttonText }}</button>
        💛 {{ snaps }}
    </p>
</div>